body {
    background-color: #F3F5FC;
}

header {
    padding: 10px 0;
    width: auto;
    position: relative;
}

.principal {
    padding: 1em 4em;
    width: 640px;
    margin: 0 auto;
    display: inline-block;
}

.texto-ingresado {
    border: none;
    color: #0A3871;
    width: 555px;
    height: 361px;
    top: 108px;
    left: 140px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    border-radius: 24px;
    padding: 5px 5px 5px 10px;
}

.informacion {
    width: 205px;
    height: 18px;
    opacity: 0.8px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;
    margin: 10px 0 0 0;
}

.botones {
    margin-top: 400px;
}

button {
    width: 300px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
}

.boton-encriptar {
    background-color: #0A3871;
}

.boton-desencriptar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
}

.mostrar-texto {
    display: inline-block;
    width: 300px;
    height: 500px;
    border-radius: 32px;
}

.boton-copiar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    width: 205px;
}

.resultado-c {
    width: 200px;
    height: 400px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 24px;
    padding: 5px;
}

footer a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.copyright {
    text-align: center;
    margin: 40px auto 20px auto;
}

/*Configuraciones para tablet*/
@media only screen and (min-width: 768px) and (max-width: 1089px) {
    h1 {
        text-align: center;
    }

    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .caja-texto {
        width: 80%;
    }

    .texto-ingresado{
        width: 75%;
    }

    .botones {
        margin-left: 50px;
    }

    .botones button {
        display: inline-block;
        margin-top: 20px;
        width: 280px;
        height: 67px;
        padding: 24px;
    }

    .mostrar-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .resultado-c {
        width: 500px;
        height: 200px;
    }

    .boton-copiar {
        width: 500px;
        display: block;
    }
}

/*Configuraciones para celulares*/
@media only screen and (max-width: 430px) {
    h1 {
        text-align: center;
    }
    
    .principal {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        flex-direction: column;
        height: 100vh; /* Ocupa toda la altura de la ventana */
        width: auto;
    }
    
    .texto-ingresado {
        width: 90%; /* Ocupa todo el ancho del contenedor */
        left: 15px;
    }

    .botones {
        margin-left: auto;
    }

    .botones button {
        display: inline-block;
        margin-top: 20px;
        width: 280px;
        height: 67px;
        padding: 24px;
    }

    .mostrar-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .resultado-c {
        width: 343px;
        height: 200px;
    }

    .boton-copiar {
        width: 355px;
        display: block;
    }
}