body {
    background-color: #F3F5FC;
}

header {
    padding: 20px 0;
    width: 940px;
    position: relative;
}

.principal {
    padding: 1em 4em;
    width: 940px;
    margin: 0 auto;
}

.texto-ingresado {
    border: none;
    color: #0A3871;
    width: 577px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.informacion {
    width: 205px;
    height: 18px;
    opacity: 0.8px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #495057;
    margin: 10px 0 0 0;
}

button {
    width: Fixed (328px);
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
}

.boton-encriptar{
    background-color: #0A3871;
}

.boton-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
}